<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<main class="container">

    <div class="liste-conversation w3-container"> 
        <app-contacts (changeContactEvent) ="receiveContact($event)"  [contacts] = "getContacts()"></app-contacts>
    </div>
    
    <div class="right-container">
 
        <div class="chat-global"> 

            <div class="nav-top w3-container"> 
                <p> Conversation avec : {{loadedUser.firstname + " " + loadedUser.lastname }}</p> 
            </div>
    
            <div class = "logos-call">
                
            </div>
            
            <div class="conversation"> 
                <div class="talk left">
                    <img src="src\favicon.ico">
                    <p> {{ loadedUser.firstname }}</p>
                </div>
                <div class="talk right">
                    <p> {{ loadedUser.lastname }}</p>
                    <img src="src\favicon.ico">
                </div>
                <div class="talk left">
                    <img src="src\favicon.ico">
                    <p> Text à charger ? </p>
                </div>
                <div class="talk right">
                    <p> Depuis le back </p>
                    <img src="src\favicon.ico">
                </div>
            </div>
    
            <form class="chat-form">
                
                <div class="container-inputs-stuffs">
    
                    <div class="files-logo-content">
                        <img src="">
                    </div>
    
                    <div class="group-inp">
                        <textarea placeholder="Enter your message here" minlength="1"></textarea>
                        <img src = "">
                    </div>
    
    
                    <button class="submit-svg-button">
                        <span class="material-symbols-outlined">
                            send
                        </span>
                    </button>
                </div>
    
            </form>
        </div>    
    
    </div>
</main>

