<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="messagerie">


    <div class="fil-discussion">

        <div class="discussion"> 
            <img src="">
            <p> Début conversation 1 </p>
        </div>

        <div class="discussion"> 
            <img src="">
            <p> Début conversation 2 </p>
        </div>

        <div class="discussion"> 
            <img src="">
            <p> Début conversation 3 </p>
        </div>

    </div>

    <!--   Conversation individuel et groupes  -->

    <div class="chat-global"> 

        <div class="nav-top"> Conversation avec : Nom_personne </div>
        
        <div class="utilisateur"> 
            <p> John Doe </p>
            <p> Active now </p>
        </div>

        <div class = "logos-call">
            <img src="">
            <img src="">
        </div>
        
        <div class="conversation"> 
            <div class="talk left">
                <p> Lorem : ipsum dolor sit amet</p>
                <img src="">
            </div>
            <div class="talk right">
                <p> Lorem : ipsum dolor sit amet</p>
                <img src="">
            </div>
        </div>

        <form class="chat-form">
            
            <div class="container-inputs-stuffs">

                <div class="files-logo-content">
                    <img src="">
                </div>

                <div class="group-inp">
                    <textarea placeholder="Enter your
                    message here" minlength="1"></textarea>
                    <img src = "">
                </div>


                <button class="submit-svg-button">
                    <img src="">
                </button>
            </div>

        </form>
    </div>

</div>