<p-table [value]="housings" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="pageSize" [totalRecords]="housingCount"
(onPage)="changePage($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-housing>
        <tr>
            <td><a [routerLink]="'/housing/' + housing.id" target="_blank">{{ housing.id }}</a></td>
            <td>{{ housing.title }}</td>
            <td><a [routerLink]="'/profile/' + housing.authorId" target="_blank">{{ housing.authorName }} ({{housing.authorId}})</a></td>
            <td>{{ housing.description }}</td>
            <td>
                <p-button icon="pi pi-cog" styleClass="p-button-rounded p-button-info p-button-outlined" (click)="menu.toggle($event)"></p-button>
                <p-tieredMenu #menu [model]="housingMenu[housing.id]" [popup]="true" appendTo="body"></p-tieredMenu>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [header]="'House edition'" [(visible)]="modalVisible" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="housing-modal">
        <form [formGroup]="housingForm" class="box">
            <div class="additional-padding">
                <h2>Nouvelle annonce :</h2>
                <!-- Title input -->
                <span class="p-float-label">
                    <input id="title" pInputText class="p-inputtext-sm" formControlName="title"/>
                    <label htmlFor="title">Titre <i>(obligatoire)</i></label>
                </span>
                <!-- Housing description input -->
                <span class="p-float-label">
                    <textarea id="float-input" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
                    <label for="float-input">Description</label>
                </span>
                <div class="flexbox">
                    <!-- Services input -->
                    <div class="services">
                        <p>Services :</p>
                        <div formArrayName="services">
                            <div *ngFor="let service of servicesArray.controls; let i = index">
                            <input [formControlName]="i" pInputText class="p-inputtext-sm service-inputs">
                            <button type="button" pButton class="p-button-text p-button-secondary delete-button" icon="pi pi-times" (click)="removeService(i)"></button>
                            </div>
                        </div>
                        <button type="button" pButton class="p-button-outlined add-button" (click)="addService()">Ajouter un service</button>
                    </div>
                    <!-- Constraints input -->
                    <div class="constraints">
                        <p>Constraintes :</p>
                        <div formArrayName="constraints" class="constraints">
                            <div *ngFor="let constraint of constraintsArray.controls; let i = index">
                            <input [formControlName]="i" pInputText class="p-inputtext-sm constraint-inputs">
                            <button type="button" pButton class="p-button-text p-button-secondary delete-button" icon="pi pi-times" (click)="removeConstraint(i)"></button>
                            </div>
                        </div>
                        <button type="button" pButton class="p-button-outlined add-button" (click)="addConstraint()">Ajouter une contrainte</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="modalVisible = false" label="Annuler" styleClass="p-button p-button-danger"></p-button>
        <p-button icon="pi pi-save" (click)="updateHousing(); modalVisible = false;" label="Enregistrer" styleClass="p-button p-button-success"></p-button>
    </ng-template>
</p-dialog>