.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters{
    width: 70%;
}

.housing-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}